<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HnC</title>
    <script
      src="https://kit.fontawesome.com/05b9354aca.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <div id="navbar">
        <nav>
          <div class="cluster">
            <i class="fa-solid fa-house"></i>
            <h1 id="heading">HnC</h1>
          </div>
          <!-- Input for Search | Submit button | Logo | Name | Profile Logo || Sign in/Sign up -->
          <img src="" alt="" />
          <form method="post" action="/">
            <input type="text" name="search" id="" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>

          <!-- <button>signin</button> -->
          <i class="fa-solid fa-user"></i>
        </nav>
      </div>
      <div id="sos">
        <button>SOS</button>
      </div>
      <div>
        <div class="cards">
            <div class="card">
            <img src="/images/hospital-1.jpg" alt="" />
            <h1>name</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
            reiciendis cum dolorum ad, maiores aliquam cumque odio possimus
            veritatis, totam aperiam doloremque aspernatur consectetur sit
            obcaecati voluptatem odit quidem nesciunt!
          </div>
          <div class="card">
            <img src="/images/hospital-2.jpeg" alt="" />
            <h1>name</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
            reiciendis cum dolorum ad, maiores aliquam cumque odio possimus
            veritatis, totam aperiam doloremque aspernatur consectetur sit
            obcaecati voluptatem odit quidem nesciunt!
          </div>
          <div class="card">
            <img src="/images/hospital-3.jpg" alt="" />
            <h1>name</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
            reiciendis cum dolorum ad, maiores aliquam cumque odio possimus
            veritatis, totam aperiam doloremque aspernatur consectetur sit
            obcaecati voluptatem odit quidem nesciunt!
          </div>
          <div class="card">
            <img src="/images/hospital-4.jpeg" alt="" />
            <h1>name</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
            reiciendis cum dolorum ad, maiores aliquam cumque odio possimus
            veritatis, totam aperiam doloremque aspernatur consectetur sit
            obcaecati voluptatem odit quidem nesciunt!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
