* {
    margin: 0px;
    padding: 0px;
    font-family: "Arimo";
    box-sizing: border-box;
}

html,
body {
    height: auto;
    height: 100%;
    width: 100%;
    /* background-color: #ede2e2; */
}

.cnt {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* z-index: -1; */
}

.cnt .src {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

/* Navbar CSS Starts */

.topnav {
    /* border-bottom: 2px solid rgba(71, 70, 70, 0.2); */
    /* background-color: rgba(8, 42, 129, 0.692); */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 95px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.529);
    backdrop-filter: blur(2px);
    /* margin-bottom: 10px; */
}

.topnav .options {
    font-size: 20px;
    cursor: pointer;
    width: 225px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.topnav .options:hover {
    background-color: rgba(0, 0, 0, 0.29);
    color: #fff;
}

.topnav a {
    text-decoration: none;
    color: rgb(206, 206, 206);
    font-family: "Arimo";
    gap: 30px;
}

.topnav #loginicon {
    font-size: 30px;
    font-weight: 1000;
    height: 30px;
    width: 30px;
    color: rgb(206, 206, 206);
    /* margin-top: 5px; */
}

.topnav .tile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
    font-family: "Arimo", sans-serif;
    padding: 16px;
}

.topnav .tile h2 {
    /* margin-top: 15px; */
    font-size: 60px;
    font-family: "Arimo", sans-serif;
    color: white;
    font-weight: bolder;
}

.topnav .imgs {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.topnav img {
    height: 90%;
    border-radius: 75%;
}

/* Navbar CSS Ends */

/* Login Page CSS Starts */
.const {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

.sub-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#first {
    background-image: url("../images/4.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.sub-con h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(180, 182, 243, 0.437);
    border: 2px rgba(0, 0, 0, 0.529) solid;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.sub-con h2:hover {
    background-color: rgba(0, 0, 0, 0.29);
    color: #fff;
    transition: 500ms;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 25px;
    color: #000;
    align-items: center;
    height: 100%;
    width: 40%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #000;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 50px;
    margin-top: 50px;
}

#email,
#password {
    border: none;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    /* transition: 0.5s; */
}

#email:hover,
#password:hover,
#email:focus,
#password:focus {
    border: 1px solid rgba(0, 0, 0, 0.29);
}

/* Line Seperator */
.sep {
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.line {
    width: 30%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 5px;
}

.or {
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.29);
    padding: 10px;
    border-radius: 100%;
}

.auths {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    transition: 500ms;
}

.auth p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.29);
    text-decoration: none;
    transition: 250ms;
    opacity: 0;
}

.auth {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
    transition: 0.5s all ease;
    cursor: pointer;
    width: 50px;
    text-decoration: none;
    height: 50px;
}

.auth:hover {
    background-color: #9090905c;
    width: 150px;
}

.auth:hover p {
    display: block;
    color: #000;
    opacity: 1;
}

.auth span {
    font-size: 25px;
    font-weight: 400;
    color: white;
    background-color: rgba(84, 79, 83, 0.459);
    padding: 10px;
    border-radius: 100%;
}

.adv {
    font-size: 25px;
    font-weight: 500;
}

.main a {
    text-decoration: none;
}

/* Login Page CSS Ends */

/* Search Bar CSS Starts */
.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
}
.cent {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    position: relative;
    margin: 12.5%;
    /* top: 25%; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    text-align: center;
    background-color: #f1f1f1;
    height: 60px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    /* padding: 0px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 90px;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #827474b5;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* Dropdown Button */
.dropbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border: 1px solid grey;
    color: rgba(132, 122, 122, 0.899);
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    font-size: 16px;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
    text-align: center;
}

.dropbtn .material-symbols-outlined {
    font-size: 25px;
    font-weight: 1000;
    height: 30px;
    width: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #4dd04ddd;
    color: white;
}

/* Search Bar CSS Starts */

form.example {
    position: relative;
    display: flex;
    height: 60px;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* margin: 25%; */
    /* margin-top: 8%; */
}

form.example input[type="text"] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    float: left;
    height: 100%;
    width: 90%;
    background: #f1f1f1;
    border: none;
    outline: none;
}

/* Style the submit button */
form.example button {
    float: left;
    height: 100%;
    width: 20%;
    max-width: 180px;
    padding: 4px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    /* border: 1px solid grey; */
    cursor: pointer;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* Search Bar CSS Ends */

/*  Puarana Footer Section CSS Starts */
/* 
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .con {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    height: 400px;
    width: 700px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
   */
/* Purana Footer Section CSS Ends */

/* Naya Footer Section Starts */
#third {
    background-image: url("../images/5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    height: 50vh;
}

#footercon {
    background-color: rgba(0, 0, 0, 0.8);
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}
.foot .raw {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Arimo", sans-serif;
}

.topnav .imgs1 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.foot img {
    width: 200px;
    height: 200px;
    border-radius: 75%;
    filter: drop-shadow(0 0 24px rgba(255, 255, 255, 0.559));
}

.foot .const2 {
    width: 100%;
    /* background-color: #000; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.foot .const2 .left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.foot .const2 .left .top {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.foot .const2 .left .top .tam {
    color: rgb(206, 206, 206);
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot .const2 .left .top .btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: whitesmoke;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.foot .const2 .left .top .btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.foot .const2 .left .top .btn:active {
    transform: translateY(-1px);
}

.foot .const2 .right {
    /* background-color: orange; */
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 16px;
    flex-direction: column;
}

.foot .const2 .right .first,
.second,
.third,
.fourth,
.second1,
.third1,
.fourth1 {
    color: rgb(206, 206, 206);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foot .const2 .right .second,
.third,
.fourth {
    font-weight: bold;
}

.foot .const2 .right .second1,
.third1,
.fourth1 {
    font-weight: none;
    font-size: 20px;
}

/* Naya Footer Section Ends */

/* About Us Section CSS Starts */
#second {
    background-image: url("../images/6.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutus {
    /* background-color: orange; */
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;

    /* margin-top: 60px; */
}

.aboutus .head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Arimo", sans-serif;
    font-size: 110px;
    font-weight: bolder;
    color: rgb(50, 47, 47);
}

.aboutus .infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Arimo", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    color: rgb(50, 47, 47);
}

.collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 32px;
    padding-top: 32px;
    gap: 64px;
}

.cds {
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arimo", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    color: black;
}

.cds #lg {
    font-size: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.cds .btm {
    font-size: 17px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

.cds .btm2 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
}
#footercon,
#third {
    max-height: 300px;
}
/* About Us Section CSS Ends */

@media only screen and (max-width: 689px) {
    .aboutus .head {
        font-size: 4rem;
    }
    .cds {
        width: 150px;
        height: 150px;
    }

    .foot {
        flex-direction: column;
    }
    .dropbtn,
    .dropbtn .material-symbols-outlined {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .dropdown,
    form.example {
        height: 40px;
    }
    form.example input[type="text"] {
        font-size: 12px;
    }
    .foot {
        padding: 0;
        height: auto;
    }
    #footercon {
        max-height: 100vh;
        height: 100vh;
    }
    .foot .const2 {
        flex-direction: column;
    }
    .foot .const2 .left {
        padding-bottom: 32px;
    }
    form.example button {
        font-size: 12px;
    }

    .foot .const2 .right .first,
    .second,
    .third,
    .fourth {
        font-size: 16px;
    }
    .foot .const2 .right .second1,
    .third1,
    .fourth1 {
        font-size: 12px;
    }
}
