* {
  margin: 0px;
  padding: 0px;
  font-family: "Arimo";
  box-sizing: border-box;
}

html,
body {
  height: auto;
  height: 100%;
  width: 100%;
  /* background-color: #ede2e2; */
}

.cnt {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* z-index: -1; */
}

.cnt .src {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
}

/* Navbar CSS Ends */

/* Login Page CSS Starts */
.const {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
}

.sub-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#first {
  background-image: url("../images/4.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.sub-con h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 50px;
  background-color: rgba(180, 182, 243, 0.437);
  border: 2px rgba(0, 0, 0, 0.529) solid;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.sub-con h2:hover {
  background-color: rgba(0, 0, 0, 0.29);
  color: #fff;
  transition: 500ms;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 25px;
  color: #000;
  align-items: center;
  height: 100%;
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #000;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
}

#email,
#password {
  border: none;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  /* transition: 0.5s; */
}

#email:hover,
#password:hover,
#email:focus,
#password:focus {
  border: 1px solid rgba(0, 0, 0, 0.29);
}

/* Line Seperator */
.sep {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.line {
  width: 30%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}

.or {
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.29);
  padding: 10px;
  border-radius: 100%;
}

.auths {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  transition: 500ms;
}

.auth p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.29);
  text-decoration: none;
  transition: 250ms;
  opacity: 0;
}

.auth {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
  transition: 0.5s all ease;
  cursor: pointer;
  width: 50px;
  text-decoration: none;
  height: 50px;
}

.auth:hover {
  background-color: #9090905c;
  width: 150px;
}

.auth:hover p {
  display: block;
  color: #000;
  opacity: 1;
}

.auth span {
  font-size: 25px;
  font-weight: 400;
  color: white;
  background-color: rgba(84, 79, 83, 0.459);
  padding: 10px;
  border-radius: 100%;
}

.adv {
  font-size: 25px;
  font-weight: 500;
}

.main a {
  text-decoration: none;
}

/* Login Page CSS Ends */

/* Search Bar CSS Starts */
.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

#firstcon {
  height: 100vh;
}
.cent {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  position: relative;
  margin: 12.5%;
  /* top: 25%; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
  text-align: center;
  background-color: #f1f1f1;
  height: 60px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  /* padding: 0px; */
}

.links {
  padding-top: 5px;
  height: 30px;
  padding-bottom: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 90px;
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #827474b5;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Dropdown Button */
.dropbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border: 1px solid grey;
  color: rgba(132, 122, 122, 0.899);
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  font-size: 16px;
  border: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  transition: 250ms;
  background-color: #0b7dda;
  color: #fff;
}
.dropbtn.arrow {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #0b7dda;
  color: #fff;
}

/* change color of arrow in select tag */

select 

/* .dropbtn:hover {
    background-color: #0b7dda;
    color: #fff;
} */

.dropbtn .material-symbols-outlined {
  font-size: 25px;
  font-weight: 1000;
  height: 30px;
  width: 30px;
}

/* Dropdown button on hover & focus */

/* Search Bar CSS Starts */

form.example {
  position: relative;
  display: flex;
  height: 60px;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* margin: 25%; */
  /* margin-top: 8%; */
}

form.example input[type="search"] {
  padding: 10px;
  font-size: 20px;
  border: 1px solid grey;
  float: left;
  height: 100%;
  width: 90%;
  background: #f1f1f1;
  border: none;
  outline: none;
}

/* Style the submit button */
form.example .btn {
  float: left;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  max-width: 180px;
  padding: 4px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  /* border: 1px solid grey; */
  cursor: pointer;
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#changetype {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: 1px solid white;
  height: 100%;
  width: 50%;
  text-align: center;
  background-color: transparent;
  padding-right: 8px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Search Bar CSS Ends */

/*  Puarana Footer Section CSS Starts */
/* 
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .con {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    height: 400px;
    width: 700px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
   */
/* Purana Footer Section CSS Ends */

/* Naya Footer Section Starts */
#third {
  background-image: url("../images/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  background-attachment: fixed;
  height: 50vh;
}

#footercon {
  background-color: rgba(0, 0, 0, 0.8);
}
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.foot .raw {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Arimo", sans-serif;
}

.topnav .imgs1 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.foot img {
  width: 200px;
  height: 200px;
  border-radius: 75%;
  filter: drop-shadow(0 0 24px rgba(255, 255, 255, 0.559));
}

.foot .const2 {
  width: 100%;
  /* background-color: #000; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.foot .const2 .left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.foot .const2 .left .top {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.foot .const2 .left .top .tam {
  color: rgb(206, 206, 206);
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot .const2 .left .top .btn {
  padding: 1.3em 3em;
  font-size: 12px;

  text-transform: uppercase;
  letter-spacing: 2.5px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.foot .const2 .left .top .btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.foot .const2 .left .top .btn:active {
  transform: translateY(-1px);
}

.foot .const2 .right {
  /* background-color: orange; */
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 16px;
  flex-direction: column;
}

.foot .const2 .right .first,
.second,
.third,
.fourth,
.second1,
.third1,
.fourth1 {
  color: rgb(206, 206, 206);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot .const2 .right .second,
.third,
.fourth {
  font-weight: bold;
}

.foot .const2 .right .second1,
.third1,
.fourth1 {
  font-weight: none;
  font-size: 20px;
}

/* Naya Footer Section Ends */

/* About Us Section CSS Starts */
#second {
  background-image: url("../images/6.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutus {
  /* background-color: orange; */
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;

  /* margin-top: 60px; */
}

.aboutus .head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Arimo", sans-serif;
  font-size: 110px;
  font-weight: bolder;
  color: rgb(50, 47, 47);
}

.aboutus .infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Arimo", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  color: rgb(50, 47, 47);
}

.collection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 32px;
  padding-top: 32px;
  gap: 64px;
}

.cds {
  background-color: rgb(234, 234, 234);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arimo", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  color: black;
}

.cds #lg {
  font-size: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cds .btm {
  font-size: 17px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  display: contents;
}

.cds .btm .servicesnames {
  display: contents;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cds .btm2 {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}
#footercon,
#third {
  max-height: 300px;
}

input[type="text"]::placeholder {
  color: #827474b5;
}
/* About Us Section CSS Ends */

.searchbtnicon.material-symbols-outlined {
  background: none;
  border: none;
}

@media only screen and (max-width: 689px) {
  .aboutus .head {
    font-size: 4rem;
  }
  .cds {
    width: 150px;
    height: 150px;
  }

  .foot {
    flex-direction: column;
  }
  .dropbtn,
  .dropbtn .material-symbols-outlined {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .dropdown,
  form.example {
    height: 40px;
  }
  form.example input[type="text"] {
    font-size: 12px;
  }
  .foot {
    padding: 0;
    height: auto;
  }
  #footercon {
    max-height: 100vh;
    height: 100vh;
  }
  .foot .const2 {
    flex-direction: column;
  }
  .foot .const2 .left {
    padding-bottom: 32px;
  }
  form.example button {
    font-size: 12px;
  }

  .foot .const2 .right .first,
  .second,
  .third,
  .fourth {
    font-size: 16px;
  }
  .foot .const2 .right .second1,
  .third1,
  .fourth1 {
    font-size: 12px;
  }

  form.example .btn {
    width: 100px;
  }

  .searchbtnicon.material-symbols-outlined {
    font-size: 15px;
    background: transparent;
    border: none;
  }

  #changetype {
    font-size: 10px;
  }
}

.emergencybtn {
  border: none;
  /* color: white; */
  width: 9em;
  height: 9em;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 16px;
  right: 16px;
  position: fixed;
  cursor: pointer;
  /* background: linear-gradient(90deg, red, red, red, red); */
  /* border-radius: 100%; */
  z-index: 2;
}

.cld {
  /* background: linear-gradient(90deg,red,red,red,red); */
  background-size: 400%;
  /* border-radius: 100%; */
  transition: 250ms;
  background-color: crimson;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  /* color: #fff; */
  width: 9em;
  height: 9em;
  line-height: 2em;
  text-align: center;
  /* background: linear-gradient(90deg, red, red, red, red); */
  background-size: 300%;
  /* border-radius: 500px; */
  z-index: 2;
  cursor: pointer;
  transition-duration: 300ms;
}

.cld .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 250ms;
  font-weight: 800;
  cursor: pointer;
}
.cld::after {
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
/* Only for Testing Purposes */
.cld:hover {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.5s;
}
.cld:hover,
.cld .content:hover {
  animation: ani 8s linear infinite;
  border: none;
  /* box-shadow: 0 0 64px 0 red; */
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.cld:hover {
  backdrop-filter: blur(20px) brightness(0.5);
}

input[type="text"].dropbtn {
  outline: 1px solid #03a9f4;
  background-color: #f1f1f1;
  color: black;
}

.disable {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 15%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
}
