* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: auto;
  height: 100%;
  width: 100%;
}

/* Navbar CSS Starts */

.topnav {
  border-bottom: 2px solid rgba(71, 70, 70, 0.2);
  background-color: rgba(8, 42, 129, 0.692);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 95px;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.topnav .options {
  font-size: 20px;
  cursor: pointer;
  /* width: 225px; */
  display: flex;
  height: 100%;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.topnav .options a {
  font-size: 36px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.topnav a {
  text-decoration: none;
  color: black;
  gap: 30px;
}

.topnav #loginicon {
  font-size: 30px;
  font-weight: 1000;
  height: 30px;
  width: 30px;
  /* margin-top: 5px; */
}

.topnav .tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 20%;
  justify-content: space-around;
  font-family: "Arimo", sans-serif;
}

.topnav .tile h2 {
  /* margin-top: 15px; */
  font-size: 60px;
  font-family: "Arimo", sans-serif;
  /* margin-left: 0px; */
  color: white;
  font-weight: bolder;
}

.topnav .imgs {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.topnav img {
  height: 90%;
  border-radius: 75%;
}

.topnav .center {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  /* gap: 50px; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 360px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fffbfb;
  min-width: 230px;
  /* border: 1px solid #ddd; */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: flex;
}

/* Dropdown Button */
.dropbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border: 1px solid grey;
  color: rgba(132, 122, 122, 0.899);
  width: 100%;
  height: 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.dropbtn .material-symbols-outlined {
  font-size: 25px;
  font-weight: 1000;
  height: 30px;
  width: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #b2d6b29b;
  color: white;
}

/* Search Bar CSS Starts */

form.example {
  position: relative;
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: center;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* margin: 25%; */
  /* margin-top:   8%; */
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 20px;
  float: left;
  height: 40px;
  width: 400px;
  background: #f1f1f1;
  border: none;
  outline: none;
  ;
}

/* Style the submit button */
form.example button {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  /* border: 1px solid grey; */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Search Bar CSS Ends */

/* Navbar CSS Ends */

.filter {
  /* background-color: red; */
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.filter .box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  gap: 50px;
  padding: 15px;
}

ul {
  list-style: none;
}

label {
  cursor: pointer;
}

li {
  padding: 0.5em;
}

.filters {
  width: 250px;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
  padding: 1.5em;
  position: absolute;
}

.filters__list li {
  display: flex;
  align-items: center;
  user-select: none;
  padding-bottom: 1em;
  line-height: 0;
}

.filters__list li:last-child {
  padding-bottom: 0;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

.filters:not(.filters--active) {
  display: none;
}

.button {
  background: darkgoldenrod;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  border: 0;
  outline: 0;
  text-align: left;
  min-width: 150px;
  display: inline-flex;
  justify-content: space-between;
  color: #f5f5f5;
  cursor: pointer;
}

.button::after {
  font-family: sans-serif;
  content: "▼";
  padding-left: 0.5em;
}

.button--highlight::after {
  content: "✓";
}

/* Information Div CSS Starts */
.results {
  /* background-color: red; */
  width: 95%;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.results .data {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  font-size: 30px;
  font-weight: 500;
  margin-left: 15px;
  color: rgba(112, 103, 103, 0.829);
  border-bottom: 1px solid rgba(112, 103, 103, 0.829);
  /* border-bottom: 100px; */
}

/* Information Div CSS Ends */

/* Card CSS Starts */

.hospitals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.hospitals .collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hospitals .collection .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 450px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: rgba(0, 187, 255, 0.177);
}

.hospitals .card .image {
  width: 106%;
  height: 63%;
  margin-top: -10px;
  object-fit: contain;
}

.hospitals .collection .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hospitals .collection .card img {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hospitals .collection .finfo {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 195px;
  width: 100%;
  /* background-color: yellow; */
}

.hospitals .collection .finfo .top,
.hospitals .collection .finfo .bottom {
  position: absolute;
}

.hospitals .collection .finfo .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  top: 0px;
  /* margin-bottom: 0px; */
  height: 65px;
  width: 100%;
  margin-top: 10px;
  /* background-color: blue; */
}

.hospitals .collection .finfo .bottom {
  bottom: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  /* background-color: red; */
}

.hospitals .collection .finfo .bottom button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 5px 5px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #199819db;
  color: ghostwhite;
  margin-top: 10px;
}

.hospitals .collection .finfo .bottom button span {
  position: relative;
  transition: color 0.4s;
}

/* Card CSS Ends */

/*  Puarana Footer Section CSS Starts */

/* .background {
  display: flex;
  min-height: 55vh;
  margin-top: 100px;
}

.con {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 700px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.top {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
} */

/* Purana Footer Section CSS Ends */

.foot {
  margin-top: 20px;
  width: 100%;
  background-color: #1a1a1a;
}

.foot .ifs {
  width: 100%;
  height: 120px;
  background-color: #1a1a1a;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.756);
  font-size: 40px;
}

form {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  padding: 20px;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #cc4949;
}

.hide {
  visibility: hidden;
  max-height: 0;
}

#css3-spinner-svg-pulse-wrapper {
  position: absolute;
  overflow: hidden;
  width: 260px;
  height: 210px;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -130px;
  background-color: transparent;
  animation: none;
  -webkit-animation: none;
}

#css3-spinner-svg-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -275px;
}

#css3-spinner-pulse {
  stroke-dasharray: 281;
  animation: dash 5s infinite linear forwards;
}

/*Animation*/
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  height: inherit;
  align-items: center;
}
/* 
.emergencybtn {
  border: none;
  color: white;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 88%;
  margin-top: 32%;
  position: fixed;
  cursor: pointer;
}

.emergencybtn .circle {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 9em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, red, red, red, red);
  background-size: 300%;
  border-radius: 200px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

.emergencybtn .circle:hover {
  animation: ani 8s linear infinite;
  border: none;
}

.emergency .circle:before {
  content: '';
  z-index: -1;
  background: linear-gradient(90deg, red, red, red, red);
  background-size: 400%;
  border-radius: 100%;
  transition: 1s;
}

.emergency .circle:hover::before {
  filter: blur(20px);
}

.emergency .circle:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
} */


.emergencybtn {
  border: none;
  color: white;
  width: 9em;
  height: 9em;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom:16px;
  right:16px;
  position: fixed;
  cursor: pointer;
    background: linear-gradient(90deg,red,red,red,red);
  border-radius:  100%;
  z-index: 2;
}

.cld {
  /* background: linear-gradient(90deg,red,red,red,red); */
  background-size: 400%;
  border-radius: 100%;
  transition: 250ms;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 9em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,red,red,red,red);
  background-size: 300%;
  border-radius: 500px;
  z-index: 2;
  cursor: pointer;
}

.cld .content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 250ms;
  font-weight: 800;
  cursor: pointer;
}

.cld:hover,.cld .content:hover {
  animation: ani 8s linear infinite;
  border: none;
  box-shadow: 0 0 64px 0 red;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}


.cld:hover {
  backdrop-filter: blur(20px) brightness(0.5);
}

.cld:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}