*{
  margin: 0px;
  padding: 0px; 
}

html,body {
  overflow-x: hidden;
  height: auto;
  height: 100%;
  width: 100%;
  /* background-color: #ede2e2; */
  background-color: rgba(0, 187, 255, 0.121);
}

/* Navbar CSS Starts */

/* .container {
  width: 100%;
  margin: 0px;
  background-color: white;
  height: 95px;
  color: black;
  border-radius: 10px;
} */

.topnav {
  border-bottom: 2px solid rgba(71, 70, 70, 0.2);
  background-color: rgba(15, 77, 234, 0.396);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 95px;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.topnav a {
  text-decoration: none;
  color: black;
}

.topnav .tile {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  font-family: 'Franklin Gothic', Arial, sans-serif; 
}

.topnav .options{
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

.topnav .tile h2 {
  /* margin-top: 15px; */
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Search Bar CSS Starts */

form.example {
  display: flex;
  height:50%;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: 10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 10px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Search Bar CSS Ends */

.topnav img {
  width: 70px;
  height: 70px;
  border-radius: 75%;
}

/* Navbar CSS Ends */

/* Login Page CSS Starts */
.const{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
}

.sub-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.sub-con h2{
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 50px;
  background-color: rgba(180, 182, 243, 0.437);
  border: 2px rgba(0, 0, 0, 0.529) solid;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.sub-con h2:hover{
  background-color: rgba(0, 0, 0, 0.29);
  color: #fff;
  transition: 500ms;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 25px;
  color: #000;
  align-items: center;
  height: 100%;
  width: 40%;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #000;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
}


#email,#password{
  border: none;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  /* transition: 0.5s; */
}

#email:hover,#password:hover, #email:focus, #password:focus{
  border: 1px solid rgba(0, 0, 0, 0.29);
}

/* Line Seperator */
.sep{
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;  
  gap:10px;
}

.line{
  width: 30%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}

.or {
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.29);
  padding: 10px;
  border-radius: 100%;
}

.auths{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  gap: 50px;
  transition: 500ms;
}

.auth p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.29);
  text-decoration: none;
  transition: 250ms ;
  opacity: 0;
}

.auth {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
  transition: 0.5s all ease;
  cursor: pointer;
  width: 50px;
  text-decoration: none;
  height: 50px;
}

.auth:hover{
  background-color: #9090905c;
  width: 150px;
}

.auth:hover p{
  display: block;
  color: #000;
  opacity: 1;
}

.auth span{
  font-size: 25px;
  font-weight: 400;
  color: white;
  background-color: rgba(84, 79, 83, 0.459);
  padding: 10px;
  border-radius: 100%;
}

.adv{
  font-size: 25px;
  font-weight: 500;
}

.main a{
  text-decoration: none;
}

/* Login Page CSS Ends */